.available {
    background-color: #d4edda;
}

.reserved {
    background-color: #f8efd5;
}

.booked {
    background-color: #f8d9d5;
}

.list-group-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.icon-button {
    display: inline-block;
    vertical-align: middle;
}